@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4338ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #312e81;
  --color-primary-950: #1e1b4b;
}

/*
  The default border color has changed in Tailwind CSS v4
  so for compatibility reasons these styles are applied.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('assets/fonts/Inter-Thin.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-Thin.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url('assets/fonts/Inter-ThinItalic.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-ThinItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('assets/fonts/Inter-ExtraLight.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-ExtraLight.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url('assets/fonts/Inter-ExtraLightItalic.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-ExtraLightItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('assets/fonts/Inter-Light.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-Light.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('assets/fonts/Inter-LightItalic.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-LightItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-Regular.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Inter-Italic.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-Italic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/Inter-Medium.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-Medium.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('assets/fonts/Inter-MediumItalic.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-MediumItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/Inter-SemiBold.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-SemiBold.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('assets/fonts/Inter-SemiBoldItalic.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-SemiBoldItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/Inter-Bold.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-Bold.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/Inter-BoldItalic.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-BoldItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/Inter-ExtraBold.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-ExtraBold.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('assets/fonts/Inter-ExtraBoldItalic.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-ExtraBoldItalic.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('assets/fonts/Inter-Black.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-Black.woff?v=3.19') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('assets/fonts/Inter-BlackItalic.woff2?v=3.19') format('woff2'),
    url('assets/fonts/Inter-BlackItalic.woff?v=3.19') format('woff');
}

* {
  font-family: 'Inter';
}
